frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

backend/__pycache__/
backend/.venv/
backend/venv/
backend/.venv_pyc/

logs
*.log

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

graph.gv
graph.gv.svg
graph.gv.pdf
backend/torchlens_graph*
backend/*.svg
